.sidebar{
    position: fixed;
    top:56px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;    
    z-index: 200;
}
.sidebar-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 2px;
}
.sidebar-btn:hover {
    background-color: #d8d8d8;
}
.sidebar-btn img{
    width: 24px;
    margin-bottom: 6px;
}
.sidebar-btn div{
    font-size: 10px;
}